{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "comma-dangle": ["error", "never"],
    "indent": ["error", "tab", {"MemberExpression": "off"}],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "no-unused-vars": ["warn"],
    "no-console": ["warn", { "allow": ["error"] }],
    "eqeqeq": ["error", "always"],
    "getter-return": ["error"],
    "id-length": "error",
    "no-eval": "error",
    "no-trailing-spaces": "error",
    "no-with": "error",
    "no-unused-expressions": ["error", { "allowShortCircuit": true, "allowTernary": true, "allowTaggedTemplates": true  }],
    "strict": ["warn", "safe"],
    "curly": ["error", "multi-line"],
    "unicode-bom": ["error", "never"],
    "vars-on-top": "error",
    "max-len": [1, 120, 2, { "ignoreComments": true }],
    "quote-props": [1, "consistent-as-needed"],
    "no-cond-assign": [2, "except-parens"],
    "space-infix-ops": 0,
    "default-case": 0,
    "no-else-return": 0,
    "no-param-reassign": 0,
    "new-cap": 2
  }
}
