<!DOCTYPE html>
<html lang="en" <% if (htmlWebpackPlugin.files.manifest) { %>manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>>
<head>
	<meta charset="utf-8">
	<meta content="ie=edge" http-equiv="x-ua-compatible">
	<title><%= htmlWebpackPlugin.options.title %></title>

	<% if (htmlWebpackPlugin.files.favicon) { %>
   <link href="<%= htmlWebpackPlugin.files.favicon %>" rel="shortcut icon">
   <% } %>

	<% if (htmlWebpackPlugin.options.mobile) { %>
   <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"> 
   <% } %>
</head>
<body>
</body>
</html>